[paths]
source =
    src
    */site-packages

[run]
branch = true
source = rics

[report]
omit =
    src/rics/_internal_support/*
    src/rics/wip/__init__.py

fail_under = 98

exclude_lines =
    @overload
    pragma: no cover
    def __repr__
    if self.debug
    if settings.DEBUG:
    raise AssertionError
    raise NotImplementedError
    raise TypeError
    raise ModuleNotFoundError
    if 0:
    if __name__ == __main__:
    if .* is ActionLevel.WARN:
    LOGGER.isEnabledFor
    logger.isEnabledFor
    if not isinstance\(other
    if TYPE_CHECKING
    if VERBOSE
    if __name__ == "__main__"
    except ModuleNotFoundError
    except ImportError

show_missing = true

[html]
directory = htmlcov
