[paths]
source =
    src
    */site-packages

[run]
branch = true
source = rics

[report]
omit =
    src/rics/translation/fetching/*
    src/rics/translation/dio/*
    src/rics/_internal*
    src/rics/utility/perf/*
    src/rics/utility/plotting.py
    src/rics/utility/_just_the_way_i_like_it.py
    src/rics/translation/_from_config.py
    */exceptions.py
    */__init__.py

fail_under = 100

exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug
    if settings.DEBUG:
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == __main__:
    LOGGER.isEnabledFor
    if not isinstance\(other

show_missing = true

[html]
directory = htmlcov
