[tool.poetry]
name = "rics"
version = "0.1.0"
description = "My personal little ML engineering library."
authors = ["Richard Sundqvist <richard.sundqvist@live.se>"]

readme = "README.md"
homepage = "https://github.com/rsundqvist/rics"
repository = "https://github.com/rsundqvist/rics"
documentation = "https://rics.readthedocs.io"
keywords = ["rics"]
classifiers = [
    "Development Status :: 2 - Pre-Alpha",
    "Intended Audience :: Developers",
    "Intended Audience :: Science/Research",
    "Operating System :: POSIX :: Linux",
    "Operating System :: MacOS",
    "Operating System :: Microsoft :: Windows",
    "License :: OSI Approved :: MIT License",
    "Natural Language :: English",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
]


[tool.poetry.urls]
"Bug Tracker" = "https://github.com/rsundqvist/rics/issues"


[tool.poetry.scripts]
rics = "rics.cli:main"

[tool.poetry.dependencies]
python = "<3.11,>=3.8"

pandas = ">=1.1"
pyyaml = ">=5.3"

[tool.poetry.group.sql]
optional = true
[tool.poetry.group.sql.dependencies]
sqlalchemy = "^1.1"

# [tool.poetry.group.all]
# optional = true
# [tool.poetry.group.all.dependencies]
# rics = { version = "*", extras = ["sql"] }

[tool.poetry.group.dev.dependencies]
pre-commit = "^2.15.0"
invoke = "^1.6.0"
flake8 = "^3.9.2"
flakehell = "^0.9.0"
flake8-builtins = "^1.5.3"
flake8-blind-except = "^0.2.0"
flake8-logging-format = "^0.6.0"
flake8-bugbear = "^22.1.11"
flake8-annotations = "^2.6.2"
flake8-docstrings = "^1.6.0"
flake8-bandit = ">=2.1.2"
darglint = "^1.8.0"
isort = "^5.9.3"
black = { version = "^22", extras=["jupyter"] }
safety = "^1.10.3"
mypy = "^0.931"
# duplicate object warnings for sphinx>=4
# description: https://github.com/astropy/astropy/issues/11723
# https://github.com/astropy/astropy/pull/12270
sphinx = "^4.4.0"
sphinx-rtd-theme = "^1.0.0"
recommonmark = "^0.7.1"
bump2version = "^1.0.1"
pytest = "^7.0.1"
xdoctest = "^0.15.10"
coverage = "^6.0.1"
pytest-cov = "^3.0.0"
watchdog = { version = "^2.1.6", extras = ["watchmedo"] }

[tool.poetry.group.dev-extras]
optional = true
[tool.poetry.group.dev-extras.dependencies]
jupyterlab = "^3"
ipywidgets = "*"
jupyterlab_execute_time = "*"
tqdm = "^4.63.0"
psycopg2-binary = "^2.9.3" # Postgre

# [tool.poetry.group.all-dev-extras]
# optional = true
# [tool.poetry.group.all-dev-extras.dependencies]
# rics = { version = "*", extras = ["all", "dev-extras"] }

[tool.flakehell]
format = "grouped"
max_line_length = 120
show_source = true
docstring-convention = "google"
extended_default_ignore = []

[tool.flakehell.plugins]
pyflakes = ["+*"]
pycodestyle = ["+*",
    "-W503", # Line break occurred before a binary operator - conflicts with W504
    "+W504", # Line break occurred after a binary operator - keeping this one
    "-E203", # Whitespace before ':' - conflicts with black
]
mccabe = ["+*"]
"flake8-*" = ["+*"]
darglint = ["+*"]

flake8-annotations = ["+*",
    "-ANN101", "-ANN102" # Typehint for self/cls
]
flake8-docstrings = ["+*",
    "-D105", # Missing docstring in magic method
    "-D107", # Missing docstring in __init__ - special case of D105. Init docstring = class docstring.
]
flake8-darglint = ["+*",
    "-DAR203", # The docstring parameter type doesn't match function. - Let mypy handle types
    "-DAR402", # The docstring describes an exception not explicitly raised. - for delegates that raise
]
flake8-logging-format = ["+*",
    "-G004", # Logging statements should not use fstring. - I think this is fine IFF under enabledFor-guard
]

[tool.flakehell.exceptions."tests/"]
# Test modules/classes/functions are never "really" public, and I don't want to typehint/document all of them :).
flake8-bandit = ["-S101", "-S301", "-S403"]
flake8-docstrings = ["-D100", "-D101", "-D102", "-D103"]
flake8-darglint = ["-DAR101"]
flake8-annotations = ["-ANN001", "-ANN101", "-ANN102", "-ANN201", "-ANN202", "-ANN204"]

[tool.flakehell.exceptions."src/rics/__init__"]
pyflakes = ["-F401"]  # Module imported but unused - False positive for __version__; IDE solves for real positives


[tool.isort]
multi_line_output = 3
include_trailing_comma = true
force_grid_wrap = 0
use_parentheses = true
line_length = 120
known_third_party = ["invoke", "nox"]

[tool.black]
line-length = 120
target-version = ["py38"]

[build-system]
requires = ["poetry==1.2.0a2"]
build-backend = "poetry.masonry.api"
